body {
    font-family: 'Arial', sans-serif;
    /* background-color: #07329E; */
    background-image: url('../assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #EAF0FF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    font-weight: 100;
    color: #07329E;
    margin-bottom: 10px;
}

label {
    display: block;
    align-self: flex-start;
    justify-self: flex-start;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dcdde1;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
    border-color: #3498db;
}

input[type="file"] {
    border: 1px dashed #dcdde1;
   
}


button {
    background-color: #07329E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 50%;
}

button:hover {
    background-color: rgb(8, 50, 78)
}

button:active {
    background-color: rgb(8, 50, 78)
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.login-sistema {
    margin-bottom: 20px;
}

.alert {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 10px;
}


#status-list {

    max-height: 100px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
list-style: none;
    padding: 10px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

#status-list li {
    font-size: 14px;
    justify-self: flex-start;
    color: #333;
}

#status-item {
    font-weight: bold;
    color: #007BFF;
}