body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2rem;
    color: #34495e;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dcdde1;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
    border-color: #3498db;
}

button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #1c598a;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.login-sistema {
    margin-bottom: 20px;
}

.alert {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 10px;
}


#status-list {

    max-height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
list-style: none;
    padding: 10px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

#status-list li {
    font-size: 14px;
    justify-self: flex-start;
    color: #333;
}

#status-item {
    font-weight: bold;
    color: #007BFF;
}